:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* input.css */


}

/* input.css */


@import "tailwindcss";
@import "flowbite";

@layer base{
  .navlink-active{
    @apply text-blue-500;
  }

  .navlink-inactive{
    @apply text-[beige] dark:text-white
  }
  .navlink-inactive:hover{
    @apply text-blue-500 dark:text-blue-500;
  }
}


